/* Normalise css */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-bg-color: #0CCE6B;
    --secondary-color: #EF2D56;
    --third-color: #ED7D3A;
    --light-color: #ffffff;

    --ff-main: 'Roboto', sans-serif;
    --fw-500 : 500;
    --fw-700 : 700;

    --fs-normal: 1.5rem;
    --fs-big: 3rem; 

    
}


/*Utilites*/

.main-btn{
    background-color: var(--secondary-color);
    font-size: var(--fs-normal);
   font-weight: var(--fw-500);
   border: none;
   color: var(--light-color);
   text-transform: uppercase;
   padding: 1rem;
   border-radius: 1rem;
   margin: 0 3rem;
}

.flex-container-col,main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

main{
    gap: 5rem;
}

.grid-container{
    display: grid;
    
}



/* Genergal styling */
body{
height: 100vh;
background-color: var(--main-bg-color);
font-family: var(--ff-main);
}

h1{
    font-size: var(--fs-big);
    font-weight: var(--fw-700);
    color: var(--secondary-color);
    text-align: center;
    padding: 2rem;
}
